# Needs to be placed inside /src directory, remove this line and fill in variable values after placing it
SLACK_WEBHOOK=<YOU SLACK WEBHOOK URL>
MONGO_CONNECTION_STRING=<YOUR MONGO CONNECTION STRING>
MONGO_AUTH_DB=admin
SENDGRID_API_KEY=<SENDGRID API KEY>
SENDGRID_TO_EMAIL=<DEFAULT TO EMAIL FOR SENDGRID>
KITE_FUNDS=<Rupees in number>
KITE_API_KEY=<KITE API KEY>
KITE_API_SECRET=<KITE API SECRET>
KITE_USER_ID = <KITE USER ID>
KITE_PASSWORD = <KITE PASSWORD>
KITE_PIN = <KITE PIN>