# Needs to be placed inside /src directory, remove this line and fill in variable values after placing it
SLACK_WEBHOOK=<YOU SLACK WEBHOOK URL>
MONGO_CONNECTION_STRING=<YOUR MONGO CONNECTION STRING>
MONGO_AUTH_DB=admin
SENDGRID_API_KEY=<SENDGRID API KEY>
SENDGRID_TO_EMAIL=<DEFAULT TO EMAIL FOR SENDGRID>